@page "/tickets"

<h3>Help & Support Tickets</h3>
<p>Recent tickets:</p>

<table class="table">
    <thead>
        <tr><th>ID</th><th>Subject</th><th>Status</th></tr>
    </thead>
    <tbody>
        <tr><td>#1001</td><td>Unable to login</td><td>Open</td></tr>
        <tr><td>#1002</td><td>Error in Reports page</td><td>In Progress</td></tr>
        <tr><td>#1003</td><td>Request for new feature</td><td>Closed</td></tr>
    </tbody>
</table>

@code {

}


@* Ticket submission, status tracking. *@