@page "/auditlogs"

<h3>Audit Logs</h3>
<p>Recent system activities:</p>

<table class="table">
    <thead>
        <tr><th>Date</th><th>User</th><th>Action</th></tr>
    </thead>
    <tbody>
        <tr><td>2025-8-01</td><td>MRDev</td><td>Created Project</td></tr>
        <tr><td>2025-10-05</td><td>Bob</td><td>Updated Role</td></tr>
    </tbody>
</table>

@code {

}


@* Before/after snapshots, search & filter. *@