@page "/performance"

<h3>Performance Insights</h3>
<p>Recent performance metrics:</p>

<ul>
    <li>API Response Time: 120ms</li>
    <li>Database Queries/sec: 250</li>
    <li>Memory Usage: 65%</li>
</ul>

@code {

}
