@page "/systemconfig"

<h3>System Configurations</h3>
<p>Basic system settings (static preview):</p>

<ul>
    <li>Default Language: English</li>
    <li>Time Zone: UTC+8 (Philippines)</li>
    <li>Max Login Attempts: 5</li>
</ul>

@code {

}


 @* Environment variables, feature toggles. *@