@page "/users"

<h3>User Management</h3>
<p>Sample list of users:</p>

<ul>
    <li>MR Dev – Admin</li>
    <li>Bob Martinez – Editor</li>
    <li>Charlie Kim – Viewer</li>
</ul>

@code {

}


Invite/reset passwords, manage roles, login history, RBAC matrix.