@inherits LayoutComponentBase

<div class="login-container">
    @Body
</div>

<style>
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #e6f4f1;
    }
</style>
