@page "/knowledgebase"

<h3>Knowledge Base</h3>
<p>Helpful articles:</p>

<ul>
    <li>How to reset your password</li>
    <li>Getting started with the system</li>
    <li>Troubleshooting login issues</li>
</ul>

@code {

}
