@page "/profile"

<h3>Profile & Settings</h3>
<p>Sample user profile:</p>

<ul>
    <li>Name: John Doe</li>
    <li>Email: john.doe@example.com</li>
    <li>Role: Administrator</li>
</ul>

@code {

}
